body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

.card{
    border-radius: 5px;
    background-color: #ffffff;
    margin: 5px 5px 5px 5px;
}

.card-content{
    padding-top: 1px;
    margin: auto;
    width: 90%;
}

.card-title{
    font-weight: 600;
}