html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
}

*{
    box-sizing: border-box;
}

.page-content{
    --navbar-height: 64px;
    padding-top: var(--navbar-height);
}

.home-link{
    font-weight: bold !important;
    font-size: x-large;
}

.card{
    border-radius: 5px;
    background-color: #ffffff;
    margin: 5px 5px 5px 5px;
}

.card-content{
    padding-top: 1px;
    margin: auto;
    width: 90%;
}

.card-title{
    font-weight: 600;
}

.help-links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.middle{
    display: block;
    margin: auto;
}

.text-small{
    font-size: small !important;
}

.text-center{
    text-align: center;
}

.icon{
    display: inline-block;
    vertical-align: middle;
}

.icon_size{
    width: 40px;
}

.vert-helper{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.main-card{
    padding-top: 20px;
    padding-bottom: 20px;
}

#days_completed, #days_to_ord, #weeks_to_ord{
    font-size: 1.75em;
    font-weight: bold;
    text-align: right;
}

#child-left{
    float: left;
    width: 50%;
}

#child-right{
    float: right;
    width: 50%;
}

#spacer{
    height: 10vh;
}

#ord_message{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
}

@media only screen and (max-width: 992px){
    .card-title{
        font-size: 1.1em;
    }

    p, .countdown-timer{
        font-size: 0.95em;
    }
}

@media only screen and (max-width: 768px)  {
    .c100.big {
        font-size: 180px !important;
    }
}

@media only screen and (max-width: 420px)  {
    .c100.big {
        font-size: 160px !important;
    }

    #day_counter{
        font-size: 1.5em;
    }
}